# CityBikes

Load all modules required for notebook

In [41]:
# !pip install pandas

In [42]:
import requests
import pandas as pd
import json

Capture data from City Bikes API

In [43]:
#Establish API endpoint URL
city_bikes_endpoint_url = "http://api.citybik.es/v2/networks"
network = 'mobibikes'
complete_url = f"{city_bikes_endpoint_url}/{network}"

#Get data from API
city_bike_response = requests.get(complete_url)


#Write JSON data into file
file_path = '../data/city_bikes.json'
with open(file_path, 'w') as json_file:
    json.dump(city_bike_response.json(), json_file, indent=4)

In [44]:
# city_bike_stations_json = city_bike_response.json()['network']['stations']

with open(file_path, 'r') as json_file:
    city_bike_json = json.load(json_file)

stations_list = city_bike_json['network']['stations']

Parse through the response to get the required details for name, latitude, longitude & number of bikes.

In [45]:
station_names = [station['name'] for station in stations_list]
station_latitude = [station['latitude'] for station in stations_list]
station_longitude = [station['longitude'] for station in stations_list]
station_slots = [station['extra']['slots'] for station in stations_list]

Put parsed results into a DataFrame.

In [46]:
station_df = pd.DataFrame({'names': station_names, 
                           'latitude': station_latitude, 
                           'longitude': station_longitude, 
                           'slots': station_slots})

station_df

                     names   latitude   longitude  slots
0         Chilco & Barclay  49.291909 -123.140713     18
1     St George & Broadway  49.262321 -123.093060     14
2    Britannia Parking Lot  49.275882 -123.071865     14
3          Morton & Denman  49.288030 -123.142135     26
4      Thornton & National  49.273777 -123.092723     14
..                     ...        ...         ...    ...
253          7th & Heather  49.265089 -123.119425     18
254        Union & Dunlevy  49.277595 -123.095830     16
255    Richards & Helmcken  49.277141 -123.122589     18
256        Keefer & Abbott  49.279821 -123.108020     28
257    8th & Prince Edward  49.263518 -123.095680     18

[258 rows x 4 columns]