# CityBikes

Load all modules required for notebook

In [74]:
# !pip install pandas

In [75]:
import requests
import pandas as pd
import json

Capture data from City Bikes API

In [76]:
#Establish API endpoint URL
city_bikes_endpoint_url = "http://api.citybik.es/v2/networks"
network = 'mobibikes'
complete_url = f"{city_bikes_endpoint_url}/{network}"

#Get data from API
city_bike_response = requests.get(complete_url)


#Write JSON data into file
file_path = '../data/city_bikes.json'
with open(file_path, 'w') as json_file:
    json.dump(city_bike_response.json(), json_file, indent=4)

In [77]:
# city_bike_stations_json = city_bike_response.json()['network']['stations']

with open(file_path, 'r') as json_file:
    city_bike_json = json.load(json_file)

stations_list = city_bike_json['network']['stations']

print(f"Number of stations in Vancouver: {len(stations_list)}")

Number of stations in Vancouver: 258

Parse through the response to get the required details for name, latitude, longitude & number of bikes.

In [78]:
station_id = [station['id'] for station in stations_list]
station_names = [station['name'] for station in stations_list]
station_latitude = [station['latitude'] for station in stations_list]
station_longitude = [station['longitude'] for station in stations_list]
station_slots = [station['extra']['slots'] for station in stations_list]

Put parsed results into a DataFrame.

In [79]:
station_df = pd.DataFrame({'id': station_id,
                           'name': station_names, 
                           'latitude': station_latitude, 
                           'longitude': station_longitude, 
                           'slots': station_slots})

station_df.to_csv('../data/station_df.csv', index=False)
station_df

,id,name,latitude,longitude,slots
0,00fa94ad698dc4a9e4d708d6fd32f294,Chilco & Barclay,49.291909,-123.140713,18
1,012d3e06901cc222b1c2cf0a2ace3a29,St George & Broadway,49.262321,-123.093060,14
2,029a505bd4422a1afd127987757f71a6,Britannia Parking Lot,49.275882,-123.071865,14
3,0438114d2e6b96118de69bc9775bb21e,Morton & Denman,49.288030,-123.142135,26
4,0459b7e93703980b853cd65a9dc60596,Thornton & National,49.273777,-123.092723,14
...,...,...,...,...,...
253,fbb4c06b719596c21f91fd51ef6d4710,7th & Heather,49.265089,-123.119425,18
254,fe0c57d04d6e682d284d501446095fc9,Union & Dunlevy,49.277595,-123.095830,16
255,fedff7a263c182df94bda7307059cc52,Richards & Helmcken,49.277141,-123.122589,18
256,fef69fb400210d861107a61db954d037,Keefer & Abbott,49.279821,-123.108020,28
257,fffd87607aaae16fbb1f71615cbe7d17,8th & Prince Edward,49.263518,-123.095680,18